.edit-nav {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  margin-bottom: 50px;
  z-index: 1000;
  margin-top: -50px;
  max-width: 650px;
  width: 100%;
}

.invisible {
  display: none;
}

.upper-bar {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  height: 50px;
  margin: 0;

  h2 {
    margin: 0 10px;
    padding: 0;
  }

  .button-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    button {
      align-items: center;
      background-color: transparent;
      border: none;
      width: 40px;
      height: 40px;
      margin-right: 8px;
      font-size: 1rem;
      color: rgba(255, 245, 238, 0.883);

      i {
        font-size: 180%;
      }
    }

    button.log-out {
      background-color: rgba(255, 245, 238, 0.883);
      width: 80px;
      height: 30px;
      border-radius: 2px;
      font-weight: bolder;
      color: black;
    }

    button:hover.log-out {
      background-color: rgba(255, 245, 238, 0.5);
    }
  }
}

.lower-bar {
  background-color: rgba(0, 0, 0, 0.5);

  margin: 0;
  line-height: 2em;

  ul > li > a {
    color: rgba(255, 245, 238, 0.883);
  }

  button.add {
    border-radius: 50%;
    border: 2px solid rgba(255, 245, 238, 0.883);
    background-color: transparent;
    color: rgba(255, 245, 238, 0.883);
    font-weight: bolder;
  }
}
