.ProgressBar {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  grid-template-areas: "symbol message";
  width: 100%;
  height: 100%;
}

.message {
  grid-area: message;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbol {
  grid-area: symbol;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
  top: 2px;
}



.fa-check-circle {
  grid-area: symbol;
  font-size: 40px;
  margin: 0px 5px;
}

