@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Meddon&display=swap");
:root {
  --background-color: rgb(248, 230, 226);
  --header-font: 'Meddon', cursive;
  --primary-font: 'Libre Caslon Display', serif;
  --error-color: red;
  --succes-color: rgb(41, 209, 41);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

.App {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  -ms-grid-rows: 40% 30% 30%;
      grid-template-rows: 40% 30% 30%;
      grid-template-areas: "header-nav main" "header-nav main " "footer main";
}

.error {
  color: var(--error-color);
}

.success {
  color: var(--success-color);
}

.header-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header-nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav, header {
  /*border: 2px solid black;*/
  width: 100%;
}

img.camera {
  position: relative;
  left: 12px;
  top: 12px;
  padding: 4px;
}

img.camera:hover {
  -webkit-filter: brightness(400%);
          filter: brightness(400%);
}

h1 {
  /*border: 2px solid black;*/
  text-align: left;
  font-size: 1.4rem;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

h1 a {
  font-family: var(--header-font);
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: main;
  place-self: stretch;
  /*border: 2px solid blue;*/
}

nav {
  grid-area: nav;
  place-self: center stretch;
}

nav > ul {
  width: 100%;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  /*border: 2px solid green;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

footer > a {
  /*border: 2px solid black;*/
  font-size: 1.5rem;
}

footer > a > i {
  margin: 0;
  padding: 0;
}

footer a:hover, nav a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.5;
}

@media (max-width: 500px) {
  .App {
    z-index: 500;
    /*border: 2px solid red;*/
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 93% 7%;
        grid-template-rows: 93% 7%;
        grid-template-areas: "main" "footer";
  }
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  footer > a {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */